
@{
    ViewBag.Title = "showFormLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img class="img-login" src="~/Content/images/registration-form-4.jpeg" alt="">
        </div>
        <form action="/Login/Check" method="post" id="form_login">
            <h3>Sign In</h3>
            <div class="form-holder active-login">
                <input type="text" name="username" placeholder="username" class="form-control-login" id="username">
                <div class="font-italic" id="error_username" style="color: red"></div>
            </div>
            <div class="form-holder">
                <input type="password" name="password" placeholder="Password" class="form-control-login" id="password" style="font-size: 15px;">
                <div class="font-italic" id="error_password" style="color: red"></div>
            </div>
            <div class="form-holder" hidden>
                <input type="text" name="preUrl" class="form-control-login" id="preUrl" style="font-size: 15px;">
                <div class="font-italic" id="error_password" style="color: red"></div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked name="rememberme" id="rememberme"> Remember password
                    <span class="checkmark"></span>
                </label>
            </div>
            @Html.ValidationSummary(true, null, new { @class = "font-italic", @style = "color: red" })
            <div class="form-login">
                <button type="submit" data-href="/Login/Check" class="button-login" id="btn-login">Sign in</button>
                <p>Don't Have account? <a href="/Register/Register" class="link-login">Register</a></p>
            </div>
        </form>
    </div>
</div>
<div id="notLoginInCart" hidden>@ViewBag.NotLogin</div>
<div id="RegisterSuccess" hidden>@ViewBag.Register</div>

@section login {
    <link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/login.css">
    <script src="~/Content/js/login.js"></script>
    <script>
        let message = $('#notLoginInCart').text();
        if (message !== "") {
            $('#preUrl').val('Cart/Index');
            toastr.error(message);
        }
        let messageR = $('#RegisterSuccess').text();
        if (messageR !== "") {
            toastr.success(messageR);
        }       
    </script>
}

