@model IEnumerable<FashionShops.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/Home/Index">Home</a></li>
                    <li class="active"><a href="/Home/Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Product Category</h5>
                    </div>
                    <ul class="sidebar_categories">
                        <li class="active"><a href="#" class="category-item" data-category="All"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>All</a></li>
                        <li><a href="#" class="category-item" data-category="Shirt">Shirt</a></li>
                        <li><a href="#" class="category-item" data-category="Pants">Pants</a></li>
                        <li><a href="#" class="category-item" data-category="Skirt">Skirt</a></li>
                        <li><a href="#" class="category-item" data-category="Shoes">Shoes</a></li>
                        <li><a href="#" class="category-item" data-category="Accessory">Accessory</a></li>
                    </ul>
                </div>

                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Search</h5>
                    </div>
                    <div class="input-group">
                        <input type="text" name="nameProduct" id="search-name-input" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" id="search-name-btn" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Price Range Filtering -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Filter by Price</h5>
                    </div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range"></div>
                    <div class="filter_button"><span>filter</span></div>
                </div>

                <!-- Sizes -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Sizes</h5>
                    </div>
                    <ul class="checkboxes">
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>S</span></li>
                        <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>M</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>L</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XL</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XXL</span></li>
                    </ul>
                </div>

                <!-- Color -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Color</h5>
                    </div>
                    <ul class="checkboxes">
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Black</span></li>
                        <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Pink</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                    </ul>
                    <div class="show_more">
                        <span><span>+</span>Show More</span>
                    </div>
                </div>

            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top" id="sort">
                                <ul class="product_sorting">
                                    <li>
                                        <span class="type_sorting_text">Default Sorting</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type">
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default Sorting</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Product Name</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Show</span>
                                        <span class="num_sorting_text" id="pageSize">12</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>6</span></li>
                                            <li class="num_sorting_btn"><span>12</span></li>
                                            <li class="num_sorting_btn"><span>24</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="pages d-flex flex-row align-items-center">
                                    <div id="pre_page" class="page_pre" hidden><a href="javascript:void(0)"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
                                    <div class="page_current">
                                        <span class="currentpage" id="currentpage">1</span>
                                        <ul class="page_selection">
                                            <li><a class="numberpage" href="javascript:void(0)">1</a></li>
                                            <li><a class="numberpage" href="javascript:void(0)">2</a></li>
                                            <li><a class="numberpage" href="javascript:void(0)">3</a></li>
                                        </ul>
                                    </div>
                                    <div class="page_total"><span>of</span> 3</div>
                                    <div id="next_page" class="page_next" hidden><a href="javascript:void(0)"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                </div>

                            </div>

                            <!-- Product Grid -->

                            <div class="product-grid" id="list_all_pro">

                                <!-- Product 1 -->
                                @foreach (var item in Model)
                                {
                                    <div class="product-item men">
                                        <div class="product discount product_filter">
                                            <div class="product_image">
                                                <img src="@item.Product_Image.FirstOrDefault().Image.imgae_url" alt="" style="width:100%; height: 250px;">
                                            </div>
                                            <div class="favorite favorite_left"></div>
                                            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                            <div class="product_info">
                                                <h6 class="product_name"><a href="single.html">@item.name</a></h6>
                                                <div class="product_price">&#8363;@item.price</div>
                                            </div>
                                        </div>
                                        <div class="red_button add_to_cart_button"><a href="/Product/Detail?id=@item.product_id">add to cart</a></div>
                                    </div>
                                }
                            </div>


                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_bottom clearfix">
                                <ul class="product_sorting">
                                    <li>
                                        <span>Show:</span>
                                        <span class="num_sorting_text">04</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>1</span></li>
                                            <li class="num_sorting_btn"><span>2</span></li>
                                            <li class="num_sorting_btn"><span>3</span></li>
                                            <li class="num_sorting_btn"><span>4</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <span class="showing_results">Showing 1–3 of 12 results</span>
                                <div class="pages d-flex flex-row align-items-center">
                                    <div id="pre_page_1" class="page_pre" hidden><a href="javascript:void(0)"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
                                    <div class="page_current">
                                        <span class="currentpage">1</span>
                                        <ul class="page_selection">
                                            <li><a class="numberpage" href="javascript:void(0)">1</a></li>
                                            <li><a class="numberpage" href="javascript:void(0)">2</a></li>
                                            <li><a class="numberpage" href="javascript:void(0)">3</a></li>
                                        </ul>
                                    </div>
                                    <div class="page_total"><span>of</span> 3</div>
                                    <div id="next_page_1" class="page_next" hidden><a href="javascript:void(0)"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Benefit -->

<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>free shipping</h6>
                        <p>Suffered Alteration in Some Form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>cach on delivery</h6>
                        <p>The Internet Tend To Repeat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>45 days return</h6>
                        <p>Making it Look Like Readable</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>opening all week</h6>
                        <p>8AM - 09PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                    <h4>Newsletter</h4>
                    <p>Subscribe to our newsletter and get 20% off your first purchase</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                    <input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
                    <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="letsShopping" hidden>@ViewBag.NotLogin</div>
<div id="totalPagee" hidden></div>
@section productview{
    <link rel="stylesheet" type="text/css" href="~/Content/styles/categories_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/categories_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <script src="~/Content/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/categories_custom.js"></script>
    <style>
        .product_name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <script>
        let message = $('#letsShopping').text();
        if (message !== "") {
            toastr.error(message);
        }
    </script>
    <script>
        // lay thong tin tim kiem ten
        function getSearchNameProduct() {
            return $('#search-name-input').val();
        }
        // tra ve category neu la all -> category = empty("")
        function getCategory() {
            let category = "";
            $('.category-item').each(function () {
                if ($(this).parent().hasClass('active')) {
                    category = $(this).data('category').toLowerCase();
                    if (category === 'all') {
                        category = "";
                    }
                }
            });
            return category;
        }
        // lay trang hien tai nguoi dung dang chon
        function getCurrenPage() {
            let a = parseInt($('#currentpage').text());
            return a;
        }

        // lay tong so san pham hien thi trong mot trang
        function getPageSize() {
            let pageSize = parseInt($('#pageSize').text());
            return pageSize;
        }

        // tinh lai tong so trang vd 50sp moi trang 12sp thi co 5 trang
        function getTotalPage(pageSize, category = "", name = "") {
            var result = null;
            $.ajax({
                url: "/Product/totalPage",
                async: false,
                type: "GET",
                data: {
                    pageSize: pageSize,
                    category: category,
                    name: name
                },
                success: function (data) {
                    result = data;
                },
                error: function () {
                    alert("Error retrieving product details.");
                }
            });
            return result;
        }

        // cho nay la setup bang dau cho luc moi load trang lan dau 12sp tren mot trang
        function setInitPagination() {
            let currentPage = getCurrenPage();
            let pageSize = getPageSize();
            let category = getCategory();
            let name = getSearchNameProduct();
            let totalPage = getTotalPage(pageSize, category, name);
            let strItem = '<li><a class="numberpage" href="javascript:void(0)">'
            let listItem = '';
            if (totalPage === "0") {
                $('.currentpage').text(0);
            } else {
                if (totalPage < 6) {
                    for (let i = 1; i <= totalPage; i++) {
                        listItem += strItem + i + '</a></li>' + '\n';
                    }
                }
                if (totalPage > 5 && totalPage < 7) {
                    if (currentPage >= 3) {
                        listItem = '<li><a class="numberpage" href="javascript:void(0)">' + 1 + '</a></li>' + '\n';
                        listItem += '<li><a href="javascript:void(0)" disabled>' + '...' + '</a></li>' + '\n';
                        for (let i = 3; i <= 6; i++) {
                            listItem += strItem + i + '</a></li>' + '\n';
                        }
                    } else {
                        for (let i = 1; i <= 4; i++) {
                            listItem += strItem + i + '</a></li>' + '\n';
                        }
                        listItem += '<li><a href="javascript:void(0)" disabled>' + '...' + '</a></li>' + '\n';
                        listItem += '<li><a class="numberpage" href="javascript:void(0)">' + 6 + '</a></li>' + '\n';
                    }
                }
                if (totalPage > 7) {
                    if (currentPage >= 3 && currentPage < (totalPage - 2)) {
                        listItem = '<li><a class="numberpage" href="javascript:void(0)">' + 1 + '</a></li>' + '\n';
                        listItem += '<li><a class="numberpage" href="javascript:void(0)" disabled>' + '...' + '</a></li>' + '\n';
                        for (let i = currentPage - 1; i <= currentPage + 1; i++) {
                            listItem += strItem + i + '</a></li>' + '\n';
                        }
                        listItem += '<li><a href="javascript:void(0)" disabled>' + '...' + '</a></li>' + '\n';
                        listItem += '<li><a class="numberpage" href="javascript:void(0)">' + totalPage + '</a></li>' + '\n';
                    } else {
                        if (currentPage < 3) {
                            for (let i = 1; i <= 4; i++) {
                                listItem += strItem + i + '</a></li>' + '\n';
                            }
                            listItem += '<li><a href="javascript:void(0)" disabled>' + '...' + '</a></li>' + '\n';
                            listItem += '<li><a class="numberpage" href="javascript:void(0)">' + totalPage + '</a></li>' + '\n';
                        }
                        if (currentPage >= (totalPage - 2)) {
                            listItem = '<li><a class="numberpage" href="javascript:void(0)">' + 1 + '</a></li>' + '\n';
                            listItem += '<li><a href="javascript:void(0)" disabled>' + '...' + '</a></li>' + '\n';
                            for (let i = totalPage - 3; i <= totalPage; i++) {
                                listItem += strItem + i + '</a></li>' + '\n';
                            }
                        }

                    }
                }
            }
            $('.page_selection').each(function (index, ele) {
                $(this).html(listItem);
            });
            $('.page_total').each(function () {
                $(this).html('<span>of</span> ' + totalPage);
            });
        }
        setInitPagination();

        // dieu chinh thanh nav cua phan phan trang
        function displayButtonControll() {
            $('.page_pre').each(function () {
                $(this).attr('hidden', false);
            });
            $('.page_next').each(function () {
                $(this).attr('hidden', false);
            });
            let currentpage = $('#currentpage').text();
            let firspage = '1';
            let pageSize = getPageSize();
            let category = getCategory();
            let name = getSearchNameProduct();
            let lastpage = getTotalPage(pageSize, category, name).toString();
            if (lastpage === '0') {
                $('.page_pre').each(function () {
                    $(this).attr('hidden', true);
                });
                $('.page_next').each(function () {
                    $(this).attr('hidden', true);
                });
            } else {
                if (currentpage === firspage) {
                    $('.page_pre').each(function () {
                        $(this).attr('hidden', true);
                    });
                }

                if (currentpage === lastpage) {
                    $('.page_next').each(function () {
                        $(this).attr('hidden', true);
                    });
                }
            }
        }

        // goi ham phan trang de no load tu phia server len
        function pagination(pageNumber, pageSize, category = "", name = "") {
            $.ajax({
                url: "/Product/Pagination",
                type: "GET",
                data: {
                    pageNumber: pageNumber,
                    pageSize: pageSize,
                    category: category,
                    name: name
                },
                success: function (data) {
                    //setTimeout(function () {
                    //    $("#list_all_pro").remove()
                    //    $("#sort").append(data);
                    //}, 1000);
                    $("#list_all_pro").remove()
                    $("#sort").append(data);
                },
                error: function () {
                    alert("Error retrieving product details.");
                }
            });
        }

        displayButtonControll();

        // khi click moi nut trong danh sach dropdown
        function numberClick() {
            $(document).on('click', '.numberpage', function () {
                let selectedPage = parseInt($(this).text());
                $('.currentpage').text(selectedPage);
                let pageSize = getPageSize();
                let category = getCategory();
                let name = getSearchNameProduct();
                pagination(selectedPage, pageSize, category, name);
                setInitPagination();
                displayButtonControll();
            });
        };

        // khi click nut next
        function nextButtonClick() {
            $('.page_next').click(function () {
                let currentpage = parseInt($('#currentpage').text());
                let firstpage = 1;
                let lastpage = 3;
                let nextpage = currentpage + 1;
                $('.currentpage').text(nextpage);
                displayButtonControll();
                let selectedPage = getCurrenPage();
                let pageSize = getPageSize();
                let category = getCategory();
                let name = getSearchNameProduct();
                pagination(selectedPage, pageSize, category, name);
                setInitPagination();
            })
        };

        // khi click nut pre
        function preButtonClick() {
            $('.page_pre').click(function () {
                let currentpage = parseInt($('#currentpage').text());
                let firstpage = 1;
                let lastpage = 3;
                let prepage = currentpage - 1;
                $('.currentpage').text(prepage);
                displayButtonControll();
                let selectedPage = getCurrenPage();
                let pageSize = getPageSize();
                let category = getCategory();
                let name = getSearchNameProduct();
                pagination(selectedPage, pageSize, category, name);
                setInitPagination();
            });
        };
        numberClick();
        nextButtonClick();
        preButtonClick();

        $(document).ready(function () {
            $(document).on('click', '.category-item', function (item) {
                item.preventDefault();
                $(this).parent().addClass('active');
                let index = $('.category-item').index(this);
                for (let i = 0; i < $('.category-item').length; i++) {
                    if (i == index) {
                        continue;
                    } else {
                        $('.category-item:eq(' + i + ')').parent().removeClass('active');
                    }
                }
                $('.currentpage').text(1);
                let selectedPage = 1;
                displayButtonControll();
                let pageSize = getPageSize();
                let category = getCategory();
                let name = getSearchNameProduct();
                pagination(selectedPage, pageSize, category, name);
                setInitPagination();
            });

            $(document).on('click', '#search-name-btn', function (item) {
                item.preventDefault();
                let name = $('#search-name-input').val();
                $('.currentpage').text(1);
                let selectedPage = 1;
                displayButtonControll();
                let pageSize = getPageSize();
                let category = getCategory();
                pagination(selectedPage, pageSize, category, name);
                setInitPagination();
            });

            $(document).on('input', '#search-name-input', function () {
                setTimeout(function () {
                    let name = $('#search-name-input').val();
                    $('.currentpage').text(1);
                    let selectedPage = 1;
                    displayButtonControll();
                    let pageSize = getPageSize();
                    let category = getCategory();
                    pagination(selectedPage, pageSize, category, name);
                    setInitPagination();
                }, 1000); // 1000 milliseconds = 1 second
            });
        });
    </script>
    <script src="~/Content/js/categories_custom.js"></script>
    <script src="~/Content/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
}
