
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank you!</title>
</head>
<body>
    <div> 
        <p>Thank you for your registration, we will soon contact to you via email!</p>
    </div>
</body>
</html>
